:root {
    --main: #34495E;
    --main-dark: #2C3E50;
    --main-light: #4E6A85;
    --bg: #F4F7F9;
    --card: #FFFFFF;
    --sidebar-bg: #2C3E50;
    /* Changed to match dark theme */
    --accent: #0891B2;
    --success: #6B8E61;
    --danger: #E74C3C;
    --text-light: #ecf0f1;
    --text-muted: #95a5a6;
    --border: #DCE4EC;

    --sidebar-width: 250px;
    --sidebar-collapsed: 80px;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* SIDEBAR TOGGLE BUTTON */

#toggle-btn {
    background: transparent;
    cursor: pointer;
    color: var(--main-dark);
    align-items: center;
    transition: color 0.5s;
    border: none;
    outline: none;
}

#toggle-btn:focus,
#toggle-btn:active {
    border-radius: 15px;
    outline: none;
    box-shadow: none;
}

#toggle-btn.active {
    outline: none;
    box-shadow: none;
}

#toggle-btn:hover {
    color: var(--accent);
}


/* SIDEBAR */

.sidebar {
    width: var(--sidebar-width);
    background: var(--bg);
    height: 100vh;
    color: var(--main);
    position: relative;
    left: 0;
    transition: all 0.3s ease;
    overflow-x: hidden;
    z-index: 999;
    box-shadow: 0 15px 0px rgba(0, 0, 0, 0.2);
}

.sidebar.collapsed {
    width: var(--sidebar-collapsed);
}

.sidebar.collapsed .sidebtn {
    display: none;
}

.content {
    padding: 15px;
    transition: margin-left 0.3s ease;
    flex-grow: 1;
    width: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


/* SIDEBAR BUTTON LIST */

.navbar {
    background: var(--card);
}

.nav-list {
    list-style: none;
    padding: 15px;
    margin: 0;
    height: 100%;
}

.nav-list li {
    color: var(--main-dark);
    margin-bottom: 5px;
    transition: all 0.2s ease;
}

.nav-list li a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: var(--text-muted);
    text-decoration: none;
    white-space: nowrap;
    border-radius: 12px;
}

.nav-list li a i {
    min-width: 35px;
    font-size: 1.2rem;
    color: var(--text-muted);
    transition: color 0.3s ease, transform 0.5s ease;
}

.nav-list li a:hover {
    background: var(--main);
    color: var(--bg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sidebtn {
    color: var(--main-dark);
    transition: all 0.2s ease;
}

.nav-list li a:hover .sidebtn {
    color: var(--bg);
    transform: scale(1.05) translateX(8px);
    font-weight: bold;
}

.nav-list li a:hover i {
    color: var(--bg);
}

.nav-list li.active a {
    background: var(--accent);
    color: var(--card);
}

.nav-list li.active a i {
    color: var(--card);
}