:root {
    --main: #34495E;
    --main-dark: #2C3E50;
    --main-light: #4E6A85;
    --bg: #F4F7F9;
    --card: #FFFFFF;
    --sidebar-bg: #2C3E50;
    /* Changed to match dark theme */
    --accent: #0891B2;
    --success: #6B8E61;
    --danger: #E74C3C;
    --text-light: #ecf0f1;
    --text-muted: #95a5a6;
    --border: #DCE4EC;

    --sidebar-width: 250px;
    --sidebar-collapsed: 70px;
}

#saveprofile {
    background: var(--main-light);
}